<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-card class="ion-padding-bottom">
            <button routerLink="/pages/recipepage">
              <img class="image-rounded" alt="Carbonara Dish Image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Espaguetis_carbonara.jpg/640px-Espaguetis_carbonara.jpg">
              <ion-card-header>
                <ion-card-subtitle>
                  Most Popular
                </ion-card-subtitle>
                <ion-card-title>
                  Carbonara
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                This is the most delicious dish in the world
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="ion-padding-bottom">
            <button>
              <img class="image-rounded" alt="Carbonara Dish Image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Espaguetis_carbonara.jpg/640px-Espaguetis_carbonara.jpg">
              <ion-card-header>
                <ion-card-subtitle>
                  Most Popular
                </ion-card-subtitle>
                <ion-card-title>
                  Carbonara
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                This is the most delicious dish in the world
              </ion-card-content>
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>