<ion-card class="ion-padding-bottom">
  <button routerLink="/pages/recipepage">
    <img class="image-rounded" alt="Carbonara Dish Image"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Espaguetis_carbonara.jpg/640px-Espaguetis_carbonara.jpg">
    <ion-card-header>
      <ion-card-subtitle>
        Most Popular
      </ion-card-subtitle>
      <ion-card-title>
        Carbonara
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is the most delicious dish in the world
    </ion-card-content>
  </button>
</ion-card>