<div *ngFor="let instancia of instancias" class="ion-padding">
  <ion-card class="">
    <button routerLink="#test">
      <img class="image-rounded" alt="Carbonara Dish Image" src={{instancia.image}}>
      <ion-card-header>
        <ion-card-subtitle>
          <div style="color: greenyellow;" *ngIf="instancia.status === 'Alive'">Alive</div>
          <div style="color: red;" *ngIf="instancia.status === 'Dead'">Dead</div>
          <div style="color: beige;" *ngIf="instancia.status === 'unknown'">Unknown</div>
        </ion-card-subtitle>
        <ion-card-title>
          {{instancia.tittle}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{instancia.id}}
        {{instancia.age}}
      </ion-card-content>
    </button>
  </ion-card>
</div>